.page {
  background-color: #1D1D1D;
}

.page__margin-auto {
  margin: 0 auto;
}

.page__margin-bottom {
  margin-bottom: 185px;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1252px;
  padding: 58px 40px 0 40px;
}

.header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item {
  margin-right: 25px;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
}

.header__icon {
  width: 20px;
  height: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: 240px;
}

.logo__img {
  width: 35px;
  height: 42px;
  margin-right: 6px;
}

.header__logo-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Maven-Pro', sans-serif;
  color: #eee;
}

.open-menu {
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  width: 34px;
  height: 18.13px;
  border: none;
  border-top: 2px solid #92E3A9;
  cursor: pointer;
  padding: 0;
}

.open-menu::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 16px;
  height: 2px;
  color: #92E3A9;
}

.open-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 2px;
  color: #92E3A9;
}

.header-menu__open-menu-margin {
  margin-right: 134px;
}

/* .open-menu_theme_white {} */

.open-menu__line-top {
  width: 35px;
  height: 2.5px;
  background-color: #92E3A9;
  border-radius: 26px;
}

.open-menu__line-center {
  width: 15px;
  height: 2px;
  background-color: #92E3A9;
  border-radius: 26px;
}

.open-menu__line-bottom {
  width: 20px;
  height: 2.5px;
  background-color: #92E3A9;
  border-radius: 26px;
}

.open-menu__line-top_theme_white, .open-menu__line-center_theme_white, .open-menu__line-bottom_theme_white {
  background-color: #000;
}

.open-learn-more {
  position: relative;
  width: 240px;
  min-height: 58px;
  background-color: #27AE60;
  border: none;
  border-radius: 55px;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.open-learn-more::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: #27AE60;
  bottom: -15px;
  left: 86px;
}

.header-bg-left {
  position: absolute;
  width: 416px;
  height: 100vh;
  max-height: 788px;
  background-image: url(../images/header-image_bg-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header-bg-right {
  position: absolute;
  width: 717px;
  height: 100vh;
  background-image: url(../images/header-image_bg_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  top: 0;
  right: 0;
  z-index: 1;
}

.header-bg-illustration {
  position: absolute;
  width: 760px;
  height: 742px;
  background-image: url(../images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.arrow-down {
  position: absolute;
  bottom: 44px;
  right: 50%;
  border: 1px solid #27AE60;
  width: 34px;
  height: 34px;
  background-color: transparent;
  color: #6FCF97;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  z-index: 3;
  line-height: 36px;
}
/* header end */


.content {

}

.content__margin-auto {
  margin: auto;
}

.investments {
  box-sizing: border-box;
  max-width: 1252px;
  padding: 0 40px;
}

.investments__title {
  margin: 0;
  margin-bottom: 27px;
  max-width: 413px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 74px;
  color: #D2D2D2;
}

/* .investments__title_theme_white {
  color: #263238;
} */

.investments__subtitle {
  margin: 0;
  margin-bottom: 67px;
  max-width: 560px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #A9A9A9;
}

/* .header-content__subtitle_theme_white {
  color: #767676;
} */

.investments__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 58px;
  padding: 0 64px 0 52px;
  background-color: #27AE60;
  max-width: 241px;
  border-radius: 55px;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  color: white;
}

.investments__link::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 2px;
  background-color: #27AE60;
}
